<div class="container">
  <div class="customize">
    <form #f="ngForm" (ngSubmit)="onFormSubmit(f)">
      <label for="gteDate">From</label>
      <input
        [ngModel]="this.params.gteDate"
        id="gteDate"
        type="date"
        name="gteDate"
      />
      <label for="lteDate">To</label>
      <input
        [ngModel]="this.params.lteDate"
        id="lteDate"
        type="date"
        name="lteDate"
      />
      <label for="itemNumber">Item Per Page</label>
      <input
        [ngModel]="this.params.pageSize"
        id="lteDate"
        type="number"
        name="itemNumber"
      />
      <button type="submit" class="btn">Customize Table</button>
    </form>
    <button class="btn reset" (click)="resetTable()">Reset</button>
  </div>
  <table>
    <tr (click)="onSort($event.target)">
      <th id="dimension" [ngClass]="{ active: params.sortBy === 'dimension' }">
        Dimension
      </th>
      <th id="date" [ngClass]="{ active: params.sortBy === 'date' }">Date</th>
      <th id="quantity" [ngClass]="{ active: params.sortBy === 'quantity' }">
        Quantity
      </th>
      <th id="volume" [ngClass]="{ active: params.sortBy === 'volume' }">
        Volume (GEL)
      </th>
      <th id="average" [ngClass]="{ active: params.sortBy === 'average' }">
        Average (GEL)
      </th>
      <th
        id="differenceQuantity"
        [ngClass]="{ active: params.sortBy === 'differenceQuantity' }"
      >
        Difference quantity
      </th>
      <th
        id="differenceVolume"
        [ngClass]="{ active: params.sortBy === 'differenceVolume' }"
      >
        Difference volume
      </th>
    </tr>
    <tr *ngFor="let fact of displayedTableInfo">
      <td>{{ fact.dimension }}</td>
      <td>{{ fact.date }}</td>
      <td>{{ fact.quantity }}</td>
      <td>{{ fact.volume.toFixed(2) }}</td>
      <td>{{ fact.average.toFixed(2) }}</td>
      <td>{{ fact.differenceQuantity }}</td>
      <td>{{ fact.differenceVolume }}</td>
    </tr>
  </table>
  <div class="pagination">
    <ul>
      <li
        *ngFor="let page of pages; let i = index"
        (click)="onPageClick(i)"
        [ngClass]="{ active: this.params.pageIndex === i }"
      >
        <a>{{ page }}</a>
      </li>
    </ul>
  </div>
</div>
