.container {
  h1 {
    color: #2b2755;
  }

  .dashboard {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;

    .left > *,
    .right > * {
      margin-bottom: 1rem;
    }

    .left {
      margin-right: 1rem;
    }
  }

  .table {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: #2b2755;
    padding: 1rem;
    border-collapse: collapse;
    width: 25vw;

    th,
    td {
      border-bottom: 1px solid #2b2755;
    }

    & tr > * {
      padding: 0.7rem 1.4rem;
    }

    td:not(:last-child) {
      text-align: center;
    }
    tr:last-child {
      border-bottom: none;
    }
  }

  .heatmap,
  .line-chart {
    width: 57vw;
    height: 23rem;
  }

  .heatmap {
    height: 15rem;
  }

  .chart {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .donut {
    width: 27vw;
    height: 40vh;
  }
}
